	<!-- Header -->
	<header class="header-section" id="mainNav">
		<div class="header-main">
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<!-- Logo  -->
					<div class="col-md-3 col-6">
						<div class="logo">
							<a href="{{ site.baseurl }}/">
								<img src="{{ site.logo.main | relative_url }}" alt="{{ site.title }}"/>
							</a>
						</div>
					</div>
					<div class="col-md-9 col-6">
						<!-- Menu Toogle -->
						<div class="header-nav-toggle text-end">
							<a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
								<div class="toggle-line">
									<span></span>
								</div>
							</a>
						</div>
						<!-- Menu Toogle -->
						<div class="header-navbar">
							<nav class="header-menu" id="header-menu">
								<ul class="menu">
									<li class="menu-item ">
										<a class="nav-link" href="#about">About</a>
									</li>
									<li class="menu-item">
										<a class="nav-link" href="#contact">Contact</a>
									</li>
									<li class="menu-item">
										<a class="nav-link" href="#papers">
											Papers
										</a>
									</li>
								</ul>
								<ul class="header-btn menu">
									<li class="menu-item">
										<a class="btn" href="#contact">Get Started</a>
									</li>
								</ul><!-- header btn -->
							</nav>
						</div><!-- .header-navbar -->
					</div>
					
				</div>
			</div>
		</div>
	</header>
	<!-- end header -->